[submodule "vim/rtp/bundle/editorconfig-vim"]
	path = vim/rtp/bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "vim/rtp/bundle/vim-sensible"]
	path = vim/rtp/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/rtp/bundle/syntastic"]
	path = vim/rtp/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/rtp/bundle/vim-airline"]
	path = vim/rtp/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
